.basket {
    &__title{
        text-align: center;
        margin-top: 60px;
        margin-bottom: 40px;
    }
	&__body { 
        max-width: 273px;
        margin-right: 7.9vw;
    }
	&__cards { }
	&__card { 
        display: flex;
        align-items: center;
        margin-bottom: 40px;
    }
	&__img {
        margin-left: 12px;
        margin-right: 2.3vw;
     }
	&__counter { 
        display: flex;
        border: 1px solid #A8AFBB;
        width: 160px;
        height: 40px;
        margin-right: 8.3vw;
    }
	&__dec {
        width: 43px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        line-height: 130%;
        color: #000000;
        border-right: 1px solid #A8AFBB;
        cursor: pointer;
     }
	&__number { 
        width: 74px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        font-size: 16px;
        line-height: 130%;
        color: #000000;
    }
	&__inc {
        width: 43px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        line-height: 130%;
        color: #000000;
        border-left: 1px solid #A8AFBB;
        cursor: pointer;
     }
	&__price { 
        margin-right: 6.2vw;
        font-weight: 700;
        font-size: 18px;
        line-height: 130%;
        text-align: center;
        color: #000000;
    }
    &__decor{
        height: 1px;
        width: 100%;
        background-color: #A8AFBB;
        &:not(:last-child){
        margin-bottom: 40px;
        }
        &:last-child{
            margin-bottom: 30px;
        }
    }
    &__full-price{
        display: block;
        font-weight: 700;
        font-size: 30px;
        line-height: 130%;
        color: #000000;
        text-align: right;
        margin-left: auto;
        margin-bottom: 60px;
    }
	&__close { }
}
.container { }