.header {
    .container {
        display: flex;
        padding-top: 37px;
        justify-content: space-between;
        align-items: center;
    }
	&__img { 

    }
	&__logo { 

    }
	&__basket { 
        display: flex;
        align-items: center;
        column-gap: 10px;
        text-decoration: none;
        cursor: pointer;
        .hover-basket{
            transition: all .3s;
        }
        p{
            font-weight: 600;
            font-size: 16px;
            line-height: 20/16*100%;
            text-align: center;
            color: #35383A;
            transition: all .3s;
            text-decoration: none;
        }
        &:hover{
            p{
                color: $green;
            }
            .hover-basket{
                fill: $green;
            }
        }
    }
	&__counter { 
        width: 21px;
        height: 21px;
        border-radius: 50%;
        background-color: $green;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .3s;
        span{
            font-weight: 600;
            font-size: 12px;
            line-height: 15/12*100%;
            text-align: center;
            color: #FFFFFF;
        }
    }
}

@media (max-width: 580px){
    .header{
        .container{
            padding-top: 26px;
        }
        &__img{
            img{
                width: 180px;
                height: 30px;
            }
        }
        &__basket{
            column-gap: 7px;
            align-items: flex-end;
            p{
                display: none;
            }
        }
    }
}